body {

    margin:0;
    padding:0;
    font-family:Arial;
    

}   
#container{
    max-width: 1400px;
    margin: 0 auto;
    color:#FfF;
}
#name-menu{
    top: 0px;
    left: 0px;
    width: 1400px;
    height: 52px;
    background: #DD5555 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    
}
.menu{
    padding-right: 40px;
    
}
.menu li{
    float:left;
}
.menu a {
    text-decoration: none;
    padding: 20px 30px;
    color:#FfF;
    
}
.menu ul{
    list-style-type: none;
    float: left;
}

.background{
    top: 52px;
    left: 0px;
    width: 1400px;
    height: 658px;
    opacity: 1;
    background-image:url("images/about.jpg");
    background-repeat:  no-repeat;
    background-position: center;    
}


.article{
    text-align: center  ;
    padding-bottom: 50px;
    padding-top:30px;
    height: auto;
    background-size: contain;
    padding-top: 15%;


}

.article span {
    font-weight:bold;

    font-size: 60px;

}
.supperapp{

    margin: 0;
    color: #fff;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;



}
.tropsuper{
    
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;


}
.article hr{
    height: 2px;
    color: #d7d7d7;
    background-color: #d7d7d7;
    width: 25%;
    border: none;
    align-items: center;

}
.BOUTON{
    margin-top: 5px;
    top: 428px;
    left: 644px;
    width: 112px;
    height: 46px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    
}
.BOUTON:hover{
    margin-top: 5px;
    top: 428px;
    left: 644px;
    width: 112px;
    height: 46px;
    background: #fff 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    color:#DD5555;
    
}
table{
    width: 100%;
}
.news{
    padding-top: 5%;
}
.ptableau{
    text-align: center;
    letter-spacing: 0px;
    color: #2E2E2E;
    opacity: 1;
    font-family: 'Open Sans Semi Bold', sans-serif;
    font-size: 36px;
}
.tableau th, tr,td{
    color:white;
    text-align:center;


  }
.tableaucategorie{
    text-align: center;
    letter-spacing: 0px;
    color: #2E2E2E;
    opacity: 1;
    font-family: 'Open Sans Semi-Bold', sans-serif; 
    font-size: 28px;
}
 .fond{
    top: 864px;
    left: 250px;
    width: 120px;
    height: 120px;
    background: #DD5555 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50px;



}
.tableauexpli{
    top: 1044px;
    left: 131px;
    width: 358px;
    height: 86px;
    text-align: center;
    letter-spacing: 0px;
    color: #2E2E2E;
    opacity: 1;
    font-family: 'Open Sans ', sans-serif; 
    font-size: 16px;
}
.equipe{
    top: 1458px;
    left: 0px;
    width: 1400px;
    height: 240px;
    opacity: 1;
    background-image:url("images/team.jpg"); 
    
}
.message{
    text-align: center;
}
.phrase{
    padding-top: 6%;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Open Sans', sans-serif; 
    font-size: 48px;
    background-image:url("images/team.jpg"); 
}


.item img{

border-radius: 50%;
padding-left: 20px;
padding-right: 20px;



}
.prenom{

text-align: center;
letter-spacing: 0px;
color: #2E2E2E;
opacity: 1;
font-size: 28px;
}
.bouton_envoye{
    top: 2087px;
    left: 781px;
    width: 132px;
    height: 40px;
    background: #DD5555 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    border: none;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px;
    
}
.bouton_envoye:hover{
    top: 2087px;
    left: 781px;
    width: 132px;
    height: 40px;
    background: #fff 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border-color:#DD5555 ;
    opacity: 1;
    color: #DD5555;
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px;

}
.formulaire{
    margin-top: 50px;
    top: 2190px;
left: 0px;
width: 1400px;
height: 476px;
background: #DD5555 0% 0% no-repeat padding-box;
opacity: 1;
}
.formulaire h1{
    padding-top: 7%;
    font-family: 'Open Sans', sans-serif; 
    font-size: 36px;
text-align: center;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.renseignement{
    top: 2348px;
    left: 716px;
    width: 358px;
    height: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;

  
}
.message{
    top: 2428px;
    left: 326px;
    width: 1200px;
    height: 112px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
 


    
}

.send{
    border-radius: 4px;
    border: 2px solid #d7d7d7;
    background-color: #fff;
    padding: 10px 30px;
    color: #DD5555;

    


}
.send:hover{
    border-radius: 4px;
    border: 2px solid #fff;
    background-color: #DD5555;
    padding: 10px 30px;
    color: #fff;

}
